<mat-toolbar color="primary">
    <span routerLink="" style="cursor:pointer;">Emplooyees DB</span>
    <a class="navbar-brand" href="#"></a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/register" >Register </a>
        </li>
      </ul>
    </div> -->



    <ng-container *ngIf="authService.currentUser$ | async as user ; else loginButton" >
      <button mat-button [matMenuTriggerFor]="userMenu"  style="color:white" > <mat-icon  style="color:white">account_circle</mat-icon> {{ user.displayName }} <mat-icon  style="color:white">expand_more</mat-icon> </button>
    </ng-container>
     <ng-template class="container " #loginButton>

      <button class="btn " mat-button routerLink="/register"  >  Sign Up</button>

      <button class="btn"  mat-button routerLink="/login" style=" margin-left: -20px; " > <mat-icon class="mat-18" style="color:white">login</mat-icon> Login</button>

     </ng-template>

</mat-toolbar>


<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()"> <mat-icon class="mat-18">logout</mat-icon> Logout</button>
</mat-menu>
