<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Emplooyees DB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/home">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/register">Register </a>
      </li>
    </ul>
    <ng-container *ngIf="authService.currentUser$ | async as user ; else loginButton" >
      <button mat-button [matMenuTriggerFor]="userMenu"  style="color:white" > <mat-icon  style="color:white">account_circle</mat-icon> {{ user.displayName }} <mat-icon  style="color:white">expand_more</mat-icon> </button>
    </ng-container>
     <ng-template #loginButton>
      <button  mat-button routerLink="/" style="color:white; margin-left: -20px;" > <mat-icon class="mat-18" style="color:white">login</mat-icon> Login</button>
     </ng-template>



  </div>
</nav>
<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()"> <mat-icon class="mat-18">logout</mat-icon> Logout</button>
</mat-menu>
