<div class="form-contaainer mt-5 mat-elevation-z5">
  <!-- <mat-toolbar color="primary" >
    <span>Login</span>
    <button mat-button  routerLink="/register">
      <mat-icon class="fa fa-sign-in fa-2x mb-2 mr-2" ></mat-icon>
      Sign Up
    </button>
  </mat-toolbar> -->
 <img  src="assets/1.png" alt="logo" class="img center" >
<h1 class=" text-center " style="font-size:30px; "> Login</h1>
<div class="row d-flex justify-content-center ">
    <form [formGroup]="loginForm"  (submit)="mySubmit()">

      <mat-form-field class="center margin-top"  >

            <input matInput placeholder="Email address" formControlName="email" type="email">
            <mat-error *ngIf="email?.errors?.['email']">
              Please enter a correct email format
            </mat-error>




      </mat-form-field>
      <mat-form-field class="center" >

          <input matInput placeholder="Password" formControlName="password" type="password" [type]= " hide ?  'password':'text' ">
          <mat-icon  style="color:rgb(143, 142, 142); margin-left: -20px;" matSuffix (click)="hide= !hide"> {{ hide ? 'visibility' : ' visibility_off'}}</mat-icon>

          <mat-error *ngIf="password?.errors?.['required'] ">
            Password is required
          </mat-error>
          <mat-error *ngIf="password?.errors?.pattern ">
            Password is wrong
          </mat-error>


      </mat-form-field >
      <div class="center margin-top">
         <button class="" mat-raised-button color="primary" type="submit">Login</button>
      </div>

      <span class="center margin-top">New to our platform? <a class="sign-up-link" href="#" routerLink="/register"> Sign Up!</a> </span>
    </form>
</div>


</div>
